@mixin flex-align-for-screen($screen-name) {
	.#{$screen-name}-h-centered {
		&.row {	
			-moz-justify-content: center;
			-webkit-justify-content: center;
			justify-content: center;
		}
		&.column {
			-moz-align-items: center;
			-webkit-align-items: center;
			align-items: center;
		}
	}
	.#{$screen-name}-h-left {
		&.row {	
			-moz-justify-content: flex-start;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;
		}
		&.column {
			-moz-align-items: flex-start;
			-webkit-align-items: flex-start;
			align-items: flex-start;
		}
	}
	.#{$screen-name}-h-right {
		&.row {	
			-moz-justify-content: flex-end;
			-webkit-justify-content: flex-end;
			justify-content: flex-end;
		}
		&.column {
			-moz-align-items: flex-end;
			-webkit-align-items: flex-end;
			align-items: flex-end;
		}
    }
	.#{$screen-name}-h-justified {
		&.row {
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			justify-content: space-between;
        }
        &.column {
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}
	}
    .#{$screen-name}-v-top {
		&.row {
			-moz-align-items: flex-start;
			-webkit-align-items: flex-start;
			align-items: flex-start;
		}
		&.column {
			-moz-justify-content: flex-start;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;		
		}
	}
	.#{$screen-name}-v-centered {
		&.row {
			-moz-align-items: center;
			-webkit-align-items: center;
			align-items: center;
		}
		&.column {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			justify-content: center;		
		}
    }
    .#{$screen-name}-v-bottom {
		&.row {
			-moz-align-items: flex-end;
			-webkit-align-items: flex-end;
			align-items: flex-end;
		}
		&.column {
			-moz-justify-content: flex-end;
			-webkit-justify-content: flex-end;
			justify-content: flex-end;		
		}
    }
    .#{$screen-name}-v-justified {
		&.row {
			-moz-align-content: space-between;
			-webkit-align-content: space-between;
			align-content: space-between;
        }
        &.column {
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}
    }
}
@mixin flex-align-for-screens() {
	@include flex-align-for-screen("lg");
	@media screen and (max-width: $bp-1) {
		@include flex-align-for-screen("bp-1");
	}
	@media screen and (max-width: $md-size) {
		@include flex-align-for-screen("md");
	}
	@media screen and (max-width: $sm-size) {
		@include flex-align-for-screen("sm");
	}
	@media screen and (max-width: $xs-size) {
		@include flex-align-for-screen("xs");
	}
	@media screen and (max-width: $xxs-size) {
		@include flex-align-for-screen("xxs");
	}
}
@include flex-align-for-screens();

@mixin flex-reverse-row-for-screen($screen) {
	.#{$screen}-reverse {
		&.row {
			-moz-flex-flow: row-reverse;
			-moz-flex-wrap: wrap-reverse;
			-webkit-flex-flow: row-reverse;
			-webkit-flex-wrap: wrap-reverse;
			flex-flow: row-reverse;
			flex-wrap: wrap-reverse;
		}
	}
	.#{$screen}-normal {
		&.row {
			-moz-flex-flow: row;
			-moz-flex-wrap: wrap;
			-webkit-flex-flow: row;
			-webkit-flex-wrap: row;
			flex-flow: row;
			flex-wrap: wrap;
		}
	}
}
@mixin flex-reverse-row-for-screens() {
	@include flex-reverse-row-for-screen("lg");
	@media screen and (max-width: $md-size) {
		@include flex-reverse-row-for-screen("md");
	}
	@media screen and (max-width: $sm-size) {
		@include flex-reverse-row-for-screen("sm");
	}
	@media screen and (max-width: $xs-size) {
		@include flex-reverse-row-for-screen("xs");
	}
	@media screen and (max-width: $xxs-size) {
		@include flex-reverse-row-for-screen("xxs");
	}
}
@include flex-reverse-row-for-screens();