$grid-gutter: 15px;

@mixin generate_columns_for_screen($screen, $from: 1, $to: 12) {
    @if $from == $to {

    }
    @else {
        @if $to == 12 {
            &.#{$screen}-#{$to} {
                width: 100%;
            }
            @include generate_columns_for_screen($screen, $from, $to - 1);
        }
        @else {
            @if $to != 1 {
                &.#{$screen}-#{$to} {
                    width: -moz-calc((100% / 12) * #{$to});
                    width: -webkit-calc((100% / 12) * #{$to});
                    width: calc((100% / 12) * #{$to});
                }
                @include generate_columns_for_screen($screen, $from, $to - 1);
            }
            @else {
                &.#{$screen}-#{$to} {
                    width: -moz-calc(100% / 12);
                    width: -webkit-calc(100% / 12);
                    width: calc(100% / 12);
                }
            }
        }
    }
}
@mixin generate_columns_for_screens() {
    @include generate_columns_for_screen("lg");
    @media screen and (max-width: $md-size) {
        @include generate_columns_for_screen("md");
    }
    @media screen and (max-width: $sm-size) {
        @include generate_columns_for_screen("sm");
    }
    @media screen and (max-width: $xs-size) {
        @include generate_columns_for_screen("xs");
    }
    @media screen and (max-width: $xxs-size) {
        @include generate_columns_for_screen("xxs");
    }
    @media screen and (max-width: $bp-1) {
        @include generate_columns_for_screen("bp-1");
    }
    @media screen and (max-width: $bp-2) {
        @include generate_columns_for_screen("bp-2");
    }
    @media screen and (max-width: $bp-3) {
        @include generate_columns_for_screen("bp-3");
    }
}

/* Grid system */
.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
    @media screen and (max-width: $bp-1) {
        width: 100%;
    }
    @media screen and (max-width: $sm-size) {
        width: 100%;
    }
}
.small.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
.row {
    margin: 0;
    
    display: -ms-flexbox;
    display: -moz-flex;
	display: -webkit-flex;
    display: flex;
    
    -moz-flex-flow: row;
    -webkit-flex-flow: row;
    flex-flow: row;

    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
	flex-wrap: wrap;
}
.full.row {
    width: 100%;
}
.cover.row {
    width: 100%;
    height: 100%;
}
.free.row {
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.column {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
	
	padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    
    -moz-flex-flow: column;
	-webkit-flex-flow: column;
    flex-flow: column;

    @include generate_columns_for_screens();
}
.column.nopad {
    padding-left: 0px;
    padding-right: 0px;
}